* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(134deg, #153677, #4e085f);
  padding: 10px;

  border-top: 50cm;
  border-width: 10px;
  border-color: white;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #ffffff;
  margin: 100px auto 30px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ededed;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
}

.row button {
  border: none;
  outline: none;
  padding: 13px 40px;
  border-radius: 40px;
  background-color: #ff6c0a;
  color: #fff;
  cursor: pointer;
}

.todo-app ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

ul li ::before {
  display: flex;
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  /* background-image: url("To-Do-Img/images/unchecked.png"); */
  background-size: cover;
  background-position: center;
  /* background-position-x: 10px;
  background-position-y: 10px; */
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  background-image : url("To-Do-Img/images/checked.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  background-size:24px;
}

ul li.checked ::after{
  background-image: url("To-Do-Img/images/unchecked.png");
  background-position-x: center;
  background-position-y: 9px;
  background-repeat: no-repeat;
  
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

ul li span:hover{
  background: #f9f1f1;
  border-radius: 100%;
}